<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienvenides a Mercado Liebre</title>
  
</head>
<body>
<header>
<div class="header-top">
    <div class= "header bottom">
        <div class="logo-barra">
        <div class="contenedor-logo"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></div>
        
        
        <form action="resultado.html" method="POST" class="barra">
        <input type="search-bar" name="search-bar" placeholder="  Buscar productos, marcas" >
        <span ><i class="fas fa-search" style ="color: black;"></i></span>
        </form>
        
        <div class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
    </div>
        <nav>
                    <ul class="lista1">
                            <li><a style = "text-decoration: None" href="#">Ofertas</a></li>
                            <li><a style = "text-decoration: None" href="#">Tiendas Oficiales</a></li>
                            <li><a style = "text-decoration: None"  href="#">Vender</a></li>
                            <li><a  style = "text-decoration: None" href="#">Ayuda</a></li>
                    </ul>
                
                    <ul class="lista2">
                            <li><a style = "text-decoration: None"  href ="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                            <li><a style = "text-decoration: None" href= "/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                            <li><a style = "text-decoration: None" href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </nav>
            </section>
        <div class="burger-menu">
            <i class="fas fa-bars" style="color:white;"></i>
        </div>
    </div>
 </header> 
<main>
<img class ="banner" src="/images/img-home-banner.jpg" alt="Banner de ofertas">
  
    <h2>Basado en tu última visita</h2>
    <section class="productos">
       
        <article class="producto">
         <img class="imagen-main" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
         <div class="articulo">
         <i class="fas fa-truck"></i>
            <div class="precio-descuento">
                <p class="precios">$6770</p>
                <p class="descuentos">40% OFF</p>
            </div>
         <h4 class="descripciones">Cafetera Moulinex</h4>
        </div>
         </article>
    
        
           <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
         <div class="articulo">
        <i class="fas fa-truck"></i>
        <div class="precio-descuento">
         <p class="precios">$230.000</p>
         <p class="descuentos">20% off</p>
        </div>
         <h4 class="descripciones">MacBook Pro 2019 </h4>
        </div>
        </article>
   
    
        <article class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
         <div class="articulo">
        <i class="fas fa-truck"></i>
        <div class="precio-descuento">
         <p class="precios">$70.500</p>
         <p class="descuentos">10% off</p>
        </div>
         <h4 class="descripciones">Samsung Galaxy S10</h4>
        </div>
        </article>
        
        
        <article class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
         <div class="articulo">
        <i class="fas fa-truck"></i>
        <div class="precio-descuento">
         <p class="precios">$23.200</p>
         <p class="descuentos">5% off</p>
        </div>
         <h4 class="descripciones">SmartTv Samsung 43"</h4>
        </div>
       </article>
      </section>
<h2>Ofertas</h2>
    <section class="productos">
        <article class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
        <div class="articulo">
            <i class="fas fa-truck"></i>
            <div class="precio-descuento">
            <p class="precios">$6770</p>
            <p class="descuentos">40% OFF</p>
        </div>
            <h4 class="descripciones">Cafetera Moulinex</h4>
        </div>
        </article>
        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
         <div class="articulo">
         <i class="fas fa-truck"></i>
         <div class="precio-descuento">
         <p class="precios">$230.000</p>
         <p class="descuentos">20% off</p>
        </div>
         <h4 class="descripciones">MacBook Pro 2019</h4>
        </div>
        </article>
        <article class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
         <div class="articulo">
         <i class="fas fa-truck"></i>
         <div class="precio-descuento">
         <p class="precios">$70.500</p>
         <p class="descuentos">10% off</p>
        </div>
         <h4 class="descripciones">Samsung Galaxy S10</h4>
        </div>
        </article>
        <article class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
         <div class="articulo">
         <i class="fas fa-truck"></i>
         <div class="precio-descuento">
         <p class="precios">$23.200</p>
         <p class="descuentos">5% off</p>
        </div>
         <h4 class="descripciones">SmartTv Samsung 43"</h4>
        </div>

</section>
 </main>
 <footer>
     <div class="contenedor-footer">
         <div class="contenedorf">
            <i class="fas fa-credit-card" style="color:#1259c3;"></i>
            <h3 class="titulosfooter">Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        <div class="contenedorf">
            <i class="fas fa-gift" style="color:#1259c3"></i>
            <h3 class="titulosfooter">Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="contenedorf">
            <i class="fas fa-user-shield" style="color:#1259c3"></i>
            <h3 class="titulosfooter">Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </div>
</footer><br>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>